h1 Ultimate brunch Course
.course-table
  table.well
    tr
      th  
      th#Saturday Saturday
      th#Sunday Sunday
    tr
      th#Morning Morning
      td(headers='Saturday Morning', abbr='Bread') Baking bread: loaves, croissants and muffins.
      td(headers='Sunday Morning', abbr='Eggs') Eggs 4 ways: boiled. scrambled, poached, fried
    tr
      th#Afternoon Afternoon
      td(headers='Saturday Afternoon', abbr='Sweet breakfasts') Sweet treats: pancakes and waffles.
      td(headers='Sunday Afternoon', abbr='Fried foods') Fry pan specials: Fritters and hash browns.