main_color = #009ec5
secondary_color = #fff

.all-content
  height 100px

#manage
  .pull-right
    padding-bottom 10px

  .title
    font-size 25px

  .link-well
    padding-bottom 10px

/*! inspired by Twitter Bootstrap's new homepage */
.navbar-bm
  .brand
    color main_color
    font-size 30px
    padding-left 30px
  a
    color main_color
    font-size 20px
  
  .main-nav
    padding-top 5px
  .auth-nav
    padding-top 5px

.btn-bm
  color main_color
  background-color secondary_color
  border-color #e5e5e5

.btn-bm:hover, .btn-bm:focus, .btn-bm:active
  color secondary_color
  background-color main_color
  border-color main_color

.add-btn
  font-size 20px

.header
  position relative
  padding 50px 15px
  text-align center

  h1
    font-size 50px
    line-height 1

  .btn-bm
    margin-top 5px
    margin-bottom 5px
    padding 18px 24px
    font-size 21px

/*! add top padding to the main body */
.main-body
  padding-top 75px

/*! some padding */
#home
  height 50px

/*! class to justify text */
.justify-text
  text-align justify
  text-justify inter-word

/*! class to center text */
.center-text
  text-align center

.login-button
  padding-right 25px