main_color = #009ec5
secondary_color = #fff

.navbar-bm
  .brand
    color main_color
    font-size 30px
    padding-left 30px


.btn-bm
  color main_color
  background-color secondary_color
  border-color #e5e5e5

.btn-bm:hover, .btn-bm:focus, .btn-bm:active
  color secondary_color
  background-color main_color
  border-color main_color

.header
  position relative
  padding 50px 15px
  text-align center

  h1
    font-size 50px
    line-height 1

  .btn-bm
    margin-top 5px
    margin-bottom 5px
    padding 18px 24px
    font-size 21px

#sample-food
  padding-top 90px

//add top padding to the main body
.main-body
  padding-top 75px

//some padding
#first-row
  height 100px

//make background light gray
#second-row
  background-color #D3D3E0

//make background light gray
#third-row
  background-color #D3D3D3

//class to justify text
.justify-text
  text-align justify
  text-justify inter-word

//class to center text
.center-text
  text-align center

//add padding after "Get in touch with us!"
.contact-body
  padding-top 15px

//add padding between first and second row
//add padding on the bottom
.contact-section
  padding-top 20px
  padding-bottom 35px

//more padding for the course page
.course-table
  padding-top 25px

.cookbook-button
  padding-right 25px