#sample-food
  padding-top 90px

//add top padding to the main body
.main-body
  padding-top 75px

//some padding
#first-row
  padding-bottom 25px

//make background light gray
#second-row
  background-color #D3D3E0

//make background light gray
#third-row
  background-color #D3D3D3

//class to justify text
.justify-text
  text-align justify
  text-justify inter-word

//class to center text
.center-text
  text-align center

//add padding after "Get in touch with us!"
.contact-body
  padding-top 15px

//add padding between first and second row
//add padding on the bottom
.contact-section
  padding-top 20px
  padding-bottom 35px

//more padding for the course page
.course-table
  padding-top 25px

.cookbook-button
  padding-right 25px