html(ng-app="Momentum")
  head
    title Angular Momentum

    // import the bootstrap stylesheets
    link(href='lib/bootstrap/css/bootstrap.css', rel='stylesheet')
    // import the css styles we created in the css/ folder
    link(href='css/styles.css', rel='stylesheet')

  body
    .container
      h1.brand
        a(href="/home")
          img(src="lib/img/logo.gif", alt="Example Cafe", width=194, height=80)

    div(ng-view)

  // import the jquery, bootstrap, and Angular JS libraries
  script(src='lib/jquery-1.9.1.js') 
  script(src='lib/bootstrap/js/bootstrap.js')
  script(src='lib/angular-1.1.5/angular.js')
  // import the javascript code in the js/ folder
  script(src='js/controllers.js', type='text/javascript')
  script(src='js/directives.js', type='text/javascript')
  script(src='js/app.js', type='text/javascript')